/* Full page center */
.cc-auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

/* Card */
.cc-auth-card {
  max-width: 420px;
  width: 100%;
  padding: 40px 24px;
  text-align: center;
}



/* Title */
.cc-auth-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Subtitle */
.cc-auth-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 28px;
}

/* Inputs */
.cc-auth-input {
  margin-bottom: 16px;
  padding: 14px 12px;
  font-size: 14px;
}

/* Button */
.cc-auth-btn {
  width: 100%;
  padding: 14px;
  background: rgb(144, 2, 191);
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.cc-auth-btn:hover {
  background: rgb(195, 64, 238);
}


.cc-auth-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
}


.cc-success-box {
  margin-top: 20px;
}

.cc-success-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.cc-success-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}


.cc-auth-input:focus {
  box-shadow: none !important;
  border-color: #f68b1e !important;
  outline: none !important;
}


.cc-password-wrapper {
  position: relative;
}

.cc-password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
}

.cc-auth-extra {
  margin-top: 14px;
  text-align: center;
  font-size: 14px;
}

.cc-auth-extra a {
  text-decoration: none;
  color: #f68b1e;
  font-weight: 500;
}
